*{
    margin: 0;    
    box-sizing: border-box;
    font-family: "Roboto";
}

body{
    background: linear-gradient(90deg, hsla(177, 87%, 79%, 1) 0%, hsla(235, 89%, 70%, 1) 100%);
}

.contenedor{
    width: 350px;    
    background-color: steelblue;
    /* border: 5px solid red; */
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    
}

.pantalla{
    height: 15%;
    background-color: white;
    text-align: right;
    width: 90%;
    font-size: 65px;
    margin: 25px;
    
}

.botones{
    
    margin: 25px auto;
    width: 90%;
    align-items: center;    

}

.boton{
    
    border-radius: 50px;
    border: none;
    width: 73.3px;
    display: inline-block;
    font-size: 65px;

}

.boton:hover{
    background-color: rgba(132, 173, 219, 0.815);
    color: azure;
}

.boton:active{
    background-color: antiquewhite;
}